local ZGV = ZygorGuidesViewer
if not ZGV then return end
local mainVersion = "1.0"
ZGV.revision = tonumber(string.sub("$Revision: $WCREV$ $", 12, -3))
ZGV.version = mainVersion .. "." .. ZGV.revision
ZGV.date = string.sub("$Date: $WCDATE$ $", 8, 17)
--2013/12/20 17:00:22

